:root {

    /*Main Font*/
    --theme-font:'Poppins', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--theme-font);
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #4070f4;
}

.container {
    background: #fff;
    padding: 30px 60px;
    border-radius: 12px;
    row-gap: 12px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.container header {
    height: 65px;
    width: 65px;
    background: #4070f4;
    color: white;
    font-size: 2.5em;
    border-radius: 50%;
}